<!DOCTYPE html>
<html ng-app="MyFirstApp">
<head>
    <meta charset="UTF-8">
    <title>Hola Mundo AngularJS</title>
    <style>
        .animated {
            opacity: 1;
            max-height: inherit;
            overflow: hidden;
            transition: all 2s !important;
        }

        .animated.ng-hide {
            opacity: 0;
            max-height: 0px !important;
            display: block !important;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="controller.js"></script>
</head>
<body ng-controller="MyFirstController">
<input type="text" ng-model="newPost.title">
<input type="text" ng-model="newPost.body">
<button ng-click="addPost()">Agregar</button>
<div ng-show="loading">Cargando...</div>
<div ng-show="!loading && posts.length==0">No se encontraron Resultados</div>
<ul ng-show="posts.length > 0" class="animated">
    <li ng-repeat="p in posts">
        <h2>{{p.title}}</h2>
        <p>{{p.body}}</p>
    </li>
</ul>
</body>
</html>